.text-orange {
  color:#f1ad1d;
}
.section-title {
  font-family: 'Montserrat', sans-serif;
  color:  #333333;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.section-description {
  font-family: 'Lato', sans-serif;
  color:  #4d4943;
  font-size: 17px;
  font-weight: 400;
  margin-top: 35px;
  text-align: center;
  padding-bottom: 137px;
}
.under_line::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f1ad1d;
  margin: 52px auto 0;  
}
.header {
  box-sizing: border-box;
  background-image: url(../images/bg1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}
.header-content {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  height: 100vh;
} 
.header-company-name {
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 48px;
  font-weight: 700;  
  width: 100%;
}
.header-company-description {
  font-family: 'Lato', sans-serif;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  width: 100%;
}
.header-slogan {
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 54px;
  font-weight: 700;
  margin-top: 28px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 145px;
  padding-right: 56px;
}
.header-slogan-bg-white {
  background-color: white;
  padding: 48px 29px 41px 34px;
  display: inline-block ;
}
.section {
  margin-top: 112px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.about-us {
 background-image: url(../images/bg2.JPG);
}
.section-bg-white {
  background-color: white;
}
.slogan-title {
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 150px;
}
.slogan-title-featured {
  font-family: 'Montserrat', sans-serif;
  color:  #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 150px;
}
.our-team {
  background-image: url(../images/bg3.JPG);
}
.featured {
  background-image: url(../images/bg4.JPG);
}
.featured-description {
  font-family: 'Lato', sans-serif;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 60px;
  padding-bottom: 119px;
  width: 100%;
  text-align: center;
  line-height: 28px;
}
.under_gray_line::after {
  content: "";
  display: block;
  width: 281px;
  height: 3px;
  background-color: #ffffff;
  margin: 44px auto 0;  
}
.partners-logos-list {
  margin-top: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.partner-logo-link {
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 113px;
}
.partner-logo-link-img {
  max-width: 100%;
}
.last-section {
  padding-top: 150px;
}